{% extends "base_app.html" %}
{% block title %}Calculator{% endblock title %}
{% block css %}
<link href="{{ url_for('static', filename='css/projects/calculator/style.css') }}" rel="stylesheet">
{% endblock css %}
{% block heading %}Simple Calculator{% endblock heading %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center m-2 p-2">Simple Calculator</h2>
    <div class="row justify-content-center g-0">
        <div class="col-md-4 border border-black p-2 mb-2 w-auto">
            <div class="mb-3">
                <input type="text" class="form-control text-end" id="calculatorDisplay" readonly>
            </div>
            <div class="row g-2 mb-2">
                <div class="col-3">
                    <button type="button" class="btn btn-secondary me-2 calculator-btn"
                        onclick="appendDigit('7')">7</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-secondary me-2 calculator-btn"
                        onclick="appendDigit('8')">8</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-secondary me-2 calculator-btn"
                        onclick="appendDigit('9')">9</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-info me-2 calculator-btn" onclick="appendDigit('-')">-</button>
                </div>
            </div>
            <div class="row g-2 mb-2">
                <div class="col-3">
                    <button type="button" class="btn btn-secondary me-2 calculator-btn"
                        onclick="appendDigit('4')">4</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-secondary me-2 calculator-btn"
                        onclick="appendDigit('5')">5</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-secondary me-2 calculator-btn"
                        onclick="appendDigit('6')">6</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-info me-2 calculator-btn" onclick="appendDigit('+')">+</button>
                </div>
            </div>
            <div class="row g-2 mb-2">
                <div class="col-3">
                    <button type="button" class="btn btn-secondary me-2 calculator-btn"
                        onclick="appendDigit('1')">1</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-secondary me-2 calculator-btn"
                        onclick="appendDigit('2')">2</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-secondary me-2 calculator-btn"
                        onclick="appendDigit('3')">3</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-info me-2 calculator-btn" onclick="appendDigit('*')">*</button>
                </div>
            </div>
            <div class="row g-2 mb-2">
                <div class="col-3">
                    <button type="button" class="btn btn-secondary me-2 calculator-btn"
                        onclick="appendDigit('0')">0</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-danger me-2 calculator-btn"
                        onclick="clearDisplay('')">C</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-success me-2 calculator-btn"
                        onclick="calculateResult()">=</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-info me-2 calculator-btn" onclick="appendDigit('/')">/</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% block script %}
<script src="{{ url_for('static', filename='js/projects/calculator/scripts.js') }}"></script>
{% endblock script %}
{% endblock content %}
