{% extends "base_app.html" %}
{% block title %}404 - Not Found{% endblock title %}
{% block heading %}<h1>404 - Not Found</h1>{% endblock heading %}
{% block content %}
<p class="important">
    <center>
        <h3><b>
                The selected subpage does not exist.<br>
                Maybe someday, but not today...<br>
                SORRY!!!<br>
                <img src="{{ url_for('static', filename='images/error_handlers/404.png') }}" height="300" width="300">
            </b></h3>
    </center>
</p>
{% endblock content %}
