{% extends "base_app.html" %}
{% block title %}Home{% endblock title %}
{% block heading %}<h1>Welcome!</h1>{% endblock heading %}
{% block content %}
<p class="important">
    <br>
    <h4>Hello {{name}}!</h4><br>

    My name is <b>Marcin</b>!<br><br>
    This is my awesome page!<br><br>

    Welcome to the beginning of my programming journey! This portfolio showcases my first project, where I combined various technologies and tools to learn by doing. Each part of this project reflects how I gradually developed my skills, exploring different aspects of programming.
<br><br>
    I’m a beginner programmer, but I’m full of passion and eager to keep growing. What you’ll find here is just the start – a project born from my enthusiasm for learning and my desire to understand more advanced concepts.
<br><br>
    Feel free to explore my work and follow my progress.
</p>
{% endblock content %}
