{% extends "base_app.html" %}
{% block title %}Portfolio{% endblock title %}
{% block heading %}<h1>Behold!</h1>{% endblock heading %}
{% block content %}
<p class="important">
    Below finished project that show off my backend super skills!
</p>
<div class="container m-4">
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ project.image_url }}" class="card-img-top p-3" alt="{{ project.title }}" style="height: 400px;">
                <div class="card-body" style="height: 200px;">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                </div>
                <a href="{{ project.url }}" class="{{ project.button_style }}">Open</a>
            </div>
        </div>
        {% if loop.index % 4 == 0 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
